<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="articles">
      <div class="article">
        <div class="article-image">THIS is IMage</div>
        <div class="article-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          facilis sequi ab inventore maiores hic totam voluptatem nisi
          repudiandae fugit!
        </div>
        <div class="article-content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
          beatae rerum sint tempora. Facere, officiis beatae harum amet
          distinctio minima aspernatur quisquam doloribus dolorum aperiam non
          repudiandae accusantium voluptatem blanditiis. Facere earum unde,
          aspernatur libero, molestiae ipsam doloremque numquam optio tenetur
          nostrum ullam exercitationem. Culpa!
        </div>
      </div>
    </div>
  </body>
</html>
